* {
	margin: 0px;
	padding: 0px
}
div {
	margin: 0 auto;
	width: 500px;
	position: fixed;
	top:50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -240px;
	
	z-index: 10;
	border: 1px solid #A9A9A9;
	border-radius: 5px
}
p:nth-child(1) {
	margin-top: 25px
}
button, p {
	font: bold 16px "宋体";
	border-style: none
}
button {
	background-color: #1E90FF;
	color:white;
    display:block; 
	border:solid 1px ;
	border-color: #4169E1;
}

input {
	width: 300px;
	border-style: none
}
input, button {
	margin-left: 10px;
	border-radius: 5px;
	height: 40px
}
label {
	margin-left: 30px;
	width: 70px;
	text-align: left;
	display: inline-block
}
input {
	display: inline-block
}
.tips {
	margin-top: 5px;
	margin-left: 120px;
	font: 14px  "宋体";
	margin-bottom: 30px;
	display: inline-block;
	width: 300px;
	text-overflow: ellipsis;
}
button{
	width:65px;
    margin:0 auto;
}
